<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>SISWA INDEX</h1>
    <p>Selamat Datang di siswa index</p>
    <p th:text="${dataJudul}">Judul</p>

    <a th:href="@{/siswa/add}">Add</a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Nama Panggilan</th>
                <th>Nama Ortu</th>
                <th>Alamat</th>
                <th>Umur</th>
                <th>Tinggi Badan</th>
                <th>Berat Badan</th>
                <th>Asal Sekolah</th>
                <th>Jalur Masuk</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="siswa:${listSiswa}">
                <td th:text="${siswa.id}"></td>
                <td th:text="${siswa.kode}"></td>
                <td th:text="${siswa.nama}"></td>
                <td th:text="${siswa.namaPanggilan}"></td>
                <td th:text="${siswa.namaOrtu}"></td>
                <td th:text="${siswa.alamat}"></td>
                <td><strong th:text="${siswa.umur}"></strong>tahun</td>
                <td><strong th:text="${siswa.tb}"></strong>cm</td>
                <td><strong th:text="${siswa.bb}"></strong>kg</td>
                <td th:text="${siswa.asalSekolah}"></td>
                <td th:text="${siswa.jalurMasuk}"></td>

                <td>
                    <a th:href="@{~/siswa/edit/{id}(id=${siswa.id})}">EDIT</a>
                    <a th:href="@{~/siswa/delete/{id}(id=${siswa.id})}">DELETE</a>
                    <a th:href="@{~/siswa/detail/{id}(id=${siswa.id})}">DETAIL</a>
                </td>
            </tr>
            <tr>
                <td colspan="9">Jumlah Data</td>
                <td><strong th:text="${jumlahData}"></strong>Item</td>
            </tr>
        </tbody>
    </table>
</body>
</html>