<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add Data Laptop</h1>
    <form th:action="@{~/laptop/save}" method="post">
      <label>ID</label> <br>
      <input type="text" name="id" id="id"> <br/>

      <label>Kode</label> <br>
      <input type="text" name="kode" id="kode"> <br/>

      <label>Name</label> <br>
      <input type="text" name="name" id="name"> <br/>

      <label>Ram</label> <br>
      <input type="text" name="ram" id="ram"> <br/>

      <label>Processor</label> <br>
      <input type="text" name="processor" id="processor"> <br/>

      <label>Storage</label> <br>
      <input type="text" name="storage" id="storage"> <br/>

      <label>Os</label> <br>
      <input type="text" name="os" id="os"> <br/>

      <label>Layar</label> <br>
      <input type="text" name="layar" id="layar"> <br/>

      <label>Dimensi</label> <br>
      <input type="text" name="dimensi" id="dimensi"> <br/>

      <label>Warna</label> <br>
      <input type="text" name="warna" id="warna"> <br/>

      <label>Rilis</label> <br>
      <input type="text" name="rilis" id="rilis"> <br/>

      <label>Harga</label> <br>
      <input type="text" name="harga" id="harga"> <br/>

      <label>Stock</label> <br>
      <input type="text" name="stock" id="stock"> <br/>

      <button type="submit">Save</button>
    </form>

</body>
</html>