<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>DOSEN - INDEX</title>
</head>
<body>
<div class="row mb-2" layout:fragment="breadcrumb">
    <div class="col-sm-6">
        <h1 class="m-0 font-weight-bolder">RUANGAN</h1>
    </div>
    <!-- /. col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Ruangan</li>
        </ol>
    </div>
    <!-- /.col -->
</div>
<!-- /. row -->

<div class="row" layout:fragment="content">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- card start -->
        <div class="card">
            <!-- card header -->
            <div class="card-header bg-gradient-indigo">
                <h3 class="card-title font-weight-light">Data Ruangan</h3>

                <!-- header tools -->
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 200px">
                        <input type="text" name="table_search" class="form-control float-right btn-outline-dark" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-dark">
                                <i class="fas fa-search"></i>
                            </button>
                            <a th:href="@{~/ruangan/add}" id="btn-add" class="btn btn-outline-dark">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- header tools end -->
            </div>
            <!-- card header end -->

            <!-- card body start -->
            <div class="card-body">
                <table id="table-id" class="table">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Gedung</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="ruangan: ${dataList}">
                        <td class="font-weight-bold" th:text="${ruangan.code}"></td>
                        <td class="font-weight-bold" th:text="${ruangan.name}"></td>
                        <td class="font-weight-bold" th:text="${ruangan.gedungName}"></td>

                        <!-- button action -->
                        <td>
                            <a th:href="@{~/ruangan/detail/{id}(id=${ruangan.id})}"
                            class="btn btn-xs btn-outline-success btn-detail">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a th:href="@{~/ruangan/edit/{id}(id=${ruangan.id})}"
                            class="btn btn-xs btn-outline-warning btn-edit">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{~/ruangan/delete/{id}(id=${ruangan.id})}"
                            class="btn btn-xs btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <!-- button action  end -->
                    </tr>
                    <tr>
                        <td class="font-weight-bolder" colspan="7">Jumlah Data</td>
                        <td class="font-weight-bolder"><strong th:text="${jumlahData}"></strong>item</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- card body end -->
        </div>
        <!-- card end -->
    </div>
</div>
</body>
</html>