<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Details Data Motor Pt Mencari Cinta Sejati</h1>
    <form th:action="@{~/motor/save}" method="post">
      <label>ID</label><br>
      <input type="text" name="id" id="id" th:value="${motor.id}"><br/>

      <label>Kode</label><br>
      <input type="text" name="kode" id="kode" th:value="${motor.kode}"><br/>

      <label>Name</label><br>
      <input type="text" name="name" id="name" th:value="${motor.name}"><br/>

      <label>Merk</label><br>
      <input type="text" name="merk" id="merk" th:value="${motor.merk}"><br/>

      <label>PlatNomer</label><br>
      <input type="text" name="platNomor" id="platNomor" th:value="${motor.platNomor}"><br/>

      <label>BahanBakar</label><br>
      <input type="text" name="bahanBakar" id="bahanBakar" th:value="${motor.bahanBakar}"><br/>

      <label>Cc</label><br>
      <input type="text" name="cc" id="cc" th:value="${motor.cc}"><br/>

      <label>Warna</label><br>
      <input type="text" name="warna" id="warna" th:value="${motor.warna}"><br/>

      <label>Harga</label><br>
      <input type="text" name="harga" id="harga" th:value="${motor.harga}"><br/>

      <label>Stock</label><br>
      <input type="text" name="stock" id="stock" th:value="${motor.stock}"><br/>
    </form>
</body>
</html>